<div class="row mb-5">
  <div class="col-xl-8 text-left">
    <h1 class="my-0 welcome" translate>Auth.Login.Welcome.Title</h1>
  </div>
  <!-- <div class="col-xl-4 align-self-end text-center text-xl-right">
    <prx-button-language-selector></prx-button-language-selector>
  </div> -->
</div>

<form (ngSubmit)="login(form)" [formGroup]="form" class="cozy col-xl-11 col-12 px-0">
  <div class="alert alert-danger alert-icon" [hidden]="!error || isLoading" >
    {{ error }}
  </div>
  <div class="alert alert-warning warning-icon" [hidden]="!warning || isLoading || !!error">
    {{ warning }}
  </div>
  <ng-container *ngIf="!formState">
    <div class="form-group">
      <label class="label">User Name</label>
      <input type="text" formControlName="username" class="form-control input"
        [placeholder]="'User Name'" />
      <small [hidden]="form.controls['username'].valid || form.controls['username'].untouched" class="text-danger">
        Auth.Login.Form.Fields.UserName.Reqiured
      </small>
    </div>

    <div class="form-group">
      <label class="label">Password</label>
      <input type="password" formControlName="password" class="form-control input"
        [placeholder]="'Password'" />
      <small [hidden]="form.controls['password'].valid || form.controls['password'].untouched" class="text-danger" 
      >
        Auth.Login.Form.Fields.Password.Reqiured
      </small>
    </div>
  </ng-container>

  <ng-container *ngIf="formState == 'otp'">
    <div class="form-group">
      <label class="label" >Auth.Login.Form.Fields.OTP.Title</label>
      <input type="text" formControlName="otp" class="form-control input" [placeholder]="'OTP'" />
      <small [hidden]="form.controls['otp'].valid || form.controls['otp'].untouched" class="text-danger" >
        Auth.Login.Form.Fields.OTP.Reqiured
      </small>
    </div>
  </ng-container>

  <!-- <div class="form-group" *ngIf="!formState">
    <prx-checkbox formControlName="remember" [label]="'Auth.Login.Form.Fields.RememberMe.Label' | translate"
      [id]="'rememberme'"></prx-checkbox>
  </div> -->

  <div class="form-group mb-0 d-flex align-items-center justify-content-between">
    <a *ngIf="!formState" routerLink="/forgot" style="color: #2d709f; font-family: Montserrat; font-weight: 500">
      Forgot Password
    </a>
    <button class="btn btn-link" *ngIf="formState == 'otp'" type="button" (click)="endMultifa()">
      Differen tPassword
    </button>

    <prx-button type="submit" color="primary" [isLoading]="isLoading" [disabled]="form.invalid">
      <span *ngIf="!formState" class="col-12">Login</span>
      <span *ngIf="formState == 'otp'" class="col-12">Submit</span>
    </prx-button>
  </div>
</form>