<prx-main-body [ngClass]="{
    'quick-sidenav-expanded': !isQuickSidenavCollapsed
  }">
  <prx-header [fixed]="fixedHeader" [ngClass]="{isMobile:isMobile}">
    <prx-header-toolbar [isMobile]="isMobile" [isRtl]="isRtl" branded="true" dark="true"
      [quickSidenavCollapsed]="isQuickSidenavCollapsed" (quickSidenavToggled)="onQuickSidenavToggled($event)"
      [sidenavCollapsed]="isSidenavCollapsed" (sidenavToggled)="onSidenavToggled($event)"></prx-header-toolbar>

    <prx-header-navbar [isMobile]="isMobile" [isRtl]="isRtl" [sidenavCollapsed]="isSidenavCollapsed"
      (sideNavToggled)="onSidenavToggled($event)">
    </prx-header-navbar>
  </prx-header>

  <main class="body-wrapper">
    <router-outlet></router-outlet>
  </main>

  <prx-footer></prx-footer>
</prx-main-body>

<prx-quick-sidenav *ngIf="!isQuickSidenavCollapsed" [ngClass]="{rtl : isRtl}" [collapsed]="isQuickSidenavCollapsed">
</prx-quick-sidenav>

<prx-page-overlay *ngIf="!isQuickSidenavCollapsed || isSidenavCollapsed"
  (click)="isSidenavCollapsed ? onSidenavToggled(false)  :onQuickSidenavToggled(!isQuickSidenavCollapsed)"
  class="quick-sidenav-overlay">
  <fa-icon [icon]="closeIcon" [ngClass]="{rtl :isRtl}" class="close" (click)="onQuickSidenavToggled(true)"></fa-icon>
</prx-page-overlay>