<footer class="main-footer">
  <div class="container-fluid d-flex justify-content-between small">
    <span>
      {{ 'Footer.AllRightsReserved' | translate }}
      {{ 'Footer.AppName' | translate }} LTD. &copy; {{ date | date: 'yyyy' }} |
      {{ "Footer.PoweredBy" | translate }}
      <a href="https://test.co.il " target="_blank" translate><strong
          translate>Footer.AppName</strong></a>
    </span>
    <span *ngVar="updatedAt | date : 'MMM d, y, h:mm a' as date" class="text-dark">
      <!-- [tooltip]="!!date ? ('Footer.UpdatedAt' | translate : {date :  date }) : ''" -->
      v{{
      version }}</span>
  </div>
</footer>