<div class="nav-item notifications dropdown" dropdown placement="bottom right" [insideClick]="true"
  (isOpenChange)="onOpenChange($event)">
  <prx-nav-link [class.text-dark]="!dark" [dark]="dark" dropdownToggle>
    <ng-container *ngTemplateOutlet="headerIcon"></ng-container>
  </prx-nav-link>
  <div class="dropdown-menu"
    [ngClass]="{isMobile:isMobile, 'dropdown-menu-right' :(!isRtl || isMobile) ,'dropdown-menu-left' : !(!isRtl || isMobile)}"
    [style]="isMobile ? 'width:92vw; margin: 0 4vw;' : 'width:25rem;'" *dropdownMenu>
    <ng-container *ngTemplateOutlet="body"></ng-container>
  </div>
</div>

<ng-template #body>
  <ng-container *ngTemplateOutlet="bodyHeader"></ng-container>
  <ng-container *ngIf="entities && entities.length; else loading">
    <prx-fade-content contentClass="list list-hover dropdown-body">
      <a [routerLink]="['',{ outlets: { messages: ['popup',message?.id ] } }]"
        class="list-group-item list-group-item-action row" *ngFor="let message of entities">
        <ng-container [ngSwitch]="messageType(message?.type)">
          <ng-container *ngSwitchCase="'Form'">
            <ng-container *ngTemplateOutlet="formTemp ; context:{message:message}"></ng-container>
          </ng-container>
        </ng-container>
      </a>
    </prx-fade-content>
    <ng-container *ngTemplateOutlet="footer"></ng-container>
  </ng-container>
</ng-template>

<ng-template #formTemp let-message="message">
  <prx-picker style="text-align: justify !important;" *ngIf="getPick(message) as item" [item]="item"></prx-picker>
  <ng-container *ngTemplateOutlet="date ; context:{message:message}"></ng-container>
</ng-template>

<ng-template #bodyHeader>
  <div class="dropdown-heading d-flex align-items-center justify-content-between">
    <h6 class="m-0 text-uppercase bold" translate>Portal.Top.Menu.Messages.Title</h6>
    <small class="text-muted" *ngIf="entities && entities.length" translate>
      <span class="bold number">{{entities.length }}</span>
      Portal.Top.Menu.Messages.Title</small>
    <small class="text-muted">
      <a [routerLink]="['/agencies',partnerId, 'profile', 'contact-forms']" class="bold number"
        translate>Portal.Top.Menu.Messages.ShowAll</a>
    </small>
  </div>
</ng-template>

<ng-template #date let-message="message">
  <span class="ml-2 text-muted small">{{ daleyTime(message.created) }}</span>
</ng-template>

<ng-template #headerIcon>
  <prx-icon icon="inbox" (click)="newEntitiesCount =null"></prx-icon>
  <span *ngIf="!!newEntitiesCount" class="badge badge-pill badge-info"> {{ newEntitiesCount }}</span>
</ng-template>

<ng-template #loading>
  <div class="px-3">
    <ideo-loader template="alerts" [isLoading]="isLoading"></ideo-loader>
  </div>
</ng-template>

<ng-template #footer>
  <div class="dropdown-footer text-center">
    <div (click)="more()">
      <i-feather [hidden]="loadMore" name='more-horizontal'></i-feather>
      <i-feather [hidden]="!loadMore" name='loader'></i-feather>
    </div>
  </div>
</ng-template>