@import "import";

$notification-badge-size: 0.3125rem;

.ring {
  transform-origin: 50% 4px;
  animation: ring 1.5s ease-in-out 2s infinite;
}

.notification {
  &-badge {
    //font-size: 1.1rem;
    background-color: $color-danger;
    z-index: 2;
    padding: 0;
    line-height: $notification-badge-size;
    min-height: $notification-badge-size;
    min-width: $notification-badge-size;
    height: $notification-badge-size;
    width: $notification-badge-size;
    border-radius: 50%;
    //margin-bottom: 5px;
  }

  &-indicator {
    position: absolute;
    top: 5px;
    @include center(x);

    &:before {
      content: "";
      background-color: transparent;
      border: 2px solid $color-danger;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      animation: pulse 1500ms ease-in-out infinite;
    }
  }

  text-align: justify !important;
}

.red-alert {
  background: rgba($color-danger, 0.1);

}

.urgent {
  color: white;
  padding: 0.15rem 0.35rem;
  background-color: #da2646;
  border-radius: 5px;
  position: absolute;
  font-size: 0.8em;
  // right: 5%;
  margin: 0 5%;
  top: 4%
}
