<div class="row mb-5">
    <div class="col-xl-8 text-left">
        <h1 class="my-0 welcome">Reset Password</h1>
    </div>
    <!-- <div class="col-xl-4 align-self-end text-center text-xl-right">
        <prx-button-language-selector></prx-button-language-selector>
    </div> -->
</div>

<form *ngIf="!!form && !sendResetPassword" (ngSubmit)="submit(form)" [formGroup]="form"
    class="cozy col-xl-11 col-12 px-0" novalidate>
    <div class="alert alert-danger alert-icon" [hidden]="!error || isLoading">
        {{ error }}
    </div>
    <div class="alert alert-warning warning-icon" [hidden]="!warning || isLoading || !!error">
        {{ warning }}
    </div>    
    <div class="form-group">
        <label class="label">Email</label>
        <input type="text" formControlName="email" class="form-control input"
            [placeholder]="'Common.Email'" />
        <small [hidden]="form.controls['email'].valid || form.controls['email'].untouched" class="text-danger" >
            Email Required
        </small>
    </div>

    <div class="form-group mb-0 d-flex align-items-center justify-content-between">
        <a class="d-block" routerLink="/login" style="color: #2d709f; font-family: Montserrat; font-weight: 500">
            Back To Login
        </a>

        <prx-button type="submit" [disabled]="!form?.valid" color="primary" [isLoading]="isLoading"
            [disabled]="form.invalid">
            <span class="col-12">Reset Password</span>
        </prx-button>
    </div>
</form>

<div *ngIf="!!sendResetPassword" class="row mb-5">
    <div class="col-xl-8 text-left">
        <h4 class="my-0 welcome">Auth.Login.ResetPassword.Message</h4>
    </div>
</div>